body{
    margin:0;
    padding:0;
    color:#ffffff;
    background:url();
    background-size:cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color:#000000 ;
}
a:hover{
    color: #000000;
}

#main-header{
    background-color: #ffff;
    padding:0px;
    margin:0px;   
    color:#ffffff;
    word-spacing:0.4em;
    letter-spacing:0.05em; 
    box-sizing:border-box;
}
#sub-header{
    background-color:#ffffff ;
    padding:13px;
    margin-top: 0px;
    margin-bottom:30px;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}
#sub-header a{
    color: #000000;

}
#sub-header a:hover{
    color:#000000;
}

#main-footer{
    text-align:center;
    padding:20px;
    margin-top:30px;
    color:#000000;
    font-weight:500;
}

table{
    background-color: #ffff;
    border-color: #ffffff;
    font-size:16px;
}
.tmh{
    background-color:#ffffff ;
    color:#ffff;
    word-spacing:0.1em;
    letter-spacing: 0.03em;
}

.tsh{
    background-color:#ffffff ;
    color:#ffffff;
}
.tsh:hover{
    background-color:#ffffff;
    color:#ffffff;
}   
.tf{
    background-color:rgb(237, 245, 245);
}
.tf:hover{
    background-color:rgb(237, 245, 245) ;
}
table td{
    font-weight:500;
    line-height:2em;
}
table td:hover{
    background-color:rgb(237, 245, 245);
}
.navbtns{
    margin-top:40px;
    text-align:center;
}
.button{
    margin:auto;
    background-color:#f0f5ff;
    color:#979fbd;
    font-weight:500;
    text-align:center;
    padding: 10px;
    border:1px #e2e8f5 solid;
    border-radius:3px;
    font-size:14px;
}
.button:hover{
    color:#8ab1ff;
    background-color:#e2e8f5;
}


